@model Data.Entities.Reservation

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Reservation</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Room)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Room.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfArrival)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfArrival)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfLeaving)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfLeaving)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsIncludedBreakfast)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsIncludedBreakfast)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AllInclusive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AllInclusive)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FinalPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FinalPrice)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
